body{
    background: #ffffff;
    margin: 0px;
    padding: 0px;
    
}

#backimage {
    background-image: url("../img/bg.jpg");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 300px;
}

#jumbo {
    font-size: 20vh;
}

#jumbo2{
    font-size: 9vh;
}

#firstheading {
    padding-top: 100px;
    padding-bottom: 100px;
}

#services {
    padding-top: 100px;
    padding-bottom: 50px;
}

#firstcircle {
    background-image: url("../img/1.jpg");
    
}

#copy {
    padding-left: 150px;
}